/* Header */
.Header {
    width: 100%;
    padding: 28px 25px 28px 25px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);

    &__link-left {
        text-align: left;
    };

    &__link-right {
        text-align: right;
    };

    &__title, &__inbox, &__gear, &__arrow-left {
        @extend %section-header;
        color: var(--primary);
    };

    &__title {
        justify-self: center;
    };
};