/* Header */
.Header {
    width: 100%;
    padding: 28px 25px 28px 25px;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
    position: relative;

    &__link-left {
        text-align: left;
    };

    &__link-right {
        text-align: right;
    };

    &__title, &__inbox, &__gear, &__arrow-left {
        @extend %section-header;
        color: var(--primary);
    };

    &__inbox_active, &__gear_active {
        position: absolute;
        z-index: 100;
        color: white;
    };

    &__inbox_active {
        top: 32px;
        left: 25px;
    };

    &__gear_active {
        top: 32px;
        right: 25px;
    };

    &__title {
        justify-self: center;
    };
};