/* News section */
.News-container {
    height: 100%;
};

.News-section, .News-container {
    width: 100%;
 };

.News-section {
    &__header {
        padding: 11px 17px 11px 17px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--background);
        border-bottom: 1px solid var(--border);
    };

    &__figure {
        display: flex;
        align-items: center;
        gap: 11px;
    };

    &__button {
        width: 35px;
        text-align: center;
    };

    &__icon {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        background-color: var(--background);
        box-shadow: 0 5px 20px var(--section-shadow);
    };

    &__logo {
        font-size: 19px;
        color: var(--section-icon);
    };

    &__title, &__arrow-right {
        @extend %section-header;
        color: var(--primary);
    };

    &__arrow-right {
        transform: rotate(90deg);
        transition: transform .5s ease;
        &_closed {
            transform: rotate(0deg);
        };
    };

    &__list {
        height: auto;
        border-bottom: 1px solid var(--border);
        background-color: var(--background);
        overflow: hidden;
        transition: height 1s ease;
        
        &_closed {
            height: 0px;
        };
    };
};