.Search-section {
    width: 100%;
    padding: 17px 16px 20px 16px;
    background-color: var(--background);
    border-bottom: 1px solid var(--border);
};

.Search-bar {
    padding: 14px 20px 14px 37px;
    border-radius: 5px;
    background-color: var(--search-bar);

    &__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    };

    &__input {
        @extend %card-copy-small;
        width: 100%;
        border: none;
        background: none;
        color: var(--search-text);

        &:focus {
            outline: none;
        };
    };

    &__magnifying-glass {
        font-size: 17px;
        color: var(--search-icon);
    };
};