/* Original color palette
$sage: #87BCBF !default;
$rust: #D97D54 !default;
$drab: #324755 !default;
$danger: #D95454 !default;

$ice: #F0F3F4 !default;
$fossil: #C8D1D3 !default;
$sand: #B9B0A2 !default;
$alice-blue: #ECEFF0 !default;

$onyx: #1B1C20 !default;
$slate: #6E8CA0 !default;
$snow: #FFFFFF !default;
$dim-grey: #707070 !default;
*/

:root {
    /* Base */
    --background: #FFFFFF;
    --alternative: #ECEFF0;
    --border: #C8D1D3;

    /* Text */
    --theme-main: #87BCBF;
    --primary: #324755;
    --secondary: #6E8CA0;
    
    /* Search */
    --search-bar: #F0F3F4;
    --search-text: #1B1C20;
    --search-icon: #C8D1D3;

    /* Settings */
    --settings-bkg: #ECEFF0;
    --settings-active: #87BCBF;
    --settings-title: #87BCBF;
    --settings-sub: #707070;

    /* Extra */
    --dark-mode-brd: #C8D1D3;
    --dark-mode-text: #1B1C20;
    --version-info: #6E8CA0;

    /* Card */
    --archive: #87BCBF;
    --remove: #D95454;
    --card-icon: #D97D54;


    --tutorial-title: #87BCBF;
    --tutorial-text: #FFFFFF;
    --tutorial-bkg: #1B1C20;
    --tutorial-btn-title: #1B1C20;
    --tutorial-btn-bkg: #87BCBF;
};

.dark-mode {
    /* Base */
    --background: #1B1C20;
    --border: #C8D1D3;

    /* Text */
    --theme-main: #87BCBF;
    --primary: #6E8CA0;
    --secondary: #C8D1D3;
    
    /* Search */
    --search-bar: #F0F3F4;
    --search-text: #1B1C20;
    --search-icon: #C8D1D3;

    /* Settings */
    --settings-bkg: #324755;
    --settings-active: #87BCBF;
    --settings-title: #87BCBF;
    --settings-sub: #1B1C20;

    /* Extra */
    --dark-mode-brd: #6E8CA0;
    --dark-mode-text: #1B1C20;
    --version-info: #6E8CA0;

    /* Card */
    --archive: #87BCBF;
    --remove: #D95454;
    --card-icon: #D97D54;
};